In [63]:
import numpy as np
import pandas as pd
import hvplot.pandas
from pathlib import Path

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeRegressor

In [64]:
file_path=Path('healthcare-dataset-stroke-data.csv')
initial_df=pd.read_csv(file_path)
initial_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [65]:
decision_tree_bmi = Pipeline( steps=[ 
                               ('scale',StandardScaler()),
                               ('lr',DecisionTreeRegressor(random_state=42))
                              ])
X = initial_df[['age','gender','bmi']].copy()
X.gender = X.gender.replace({'Male':0,'Female':1,'Other':-1}).astype(np.uint8)

# take out missing data (NaN)
Missing = X[X.bmi.isna()]

# taking whatever's not NaN and storing them in X
X = X[~X.bmi.isna()]

# Y is the bmi we have/ know
Y = X.pop('bmi')

# fit all the Xs and Ys one after the other and transform them!  
decision_tree_bmi.fit(X,Y)
# getting the predicted bmi values
predicted_bmi = pd.Series(decision_tree_bmi.predict(Missing[['age','gender']]),index=Missing.index)

# fill in the missing bmi data
initial_df.loc[Missing.index,'bmi'] = predicted_bmi

In [66]:
initial_df=initial_df.drop('id', axis=1)
initial_df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,29.879487,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

In [67]:
# How to proceed?
## Options: Kmeans/Elbow, GetDummies, StandardScaler

In [68]:
initial_df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,29.879487,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

In [88]:
# Test ML
x=initial_df.drop('stroke', axis=1)
y= initial_df['stroke']

In [89]:
x

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,67.0,0,1,1,2,1,228.69,36.600000,1
1,0,61.0,0,0,1,3,0,202.21,29.879487,2
2,1,80.0,0,1,1,2,0,105.92,32.500000,2
3,0,49.0,0,0,1,2,1,171.23,34.400000,3
4,0,79.0,1,0,1,3,0,174.12,24.000000,2
...,...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,2,1,83.75,28.476923,2
5106,0,81.0,0,0,1,3,1,125.20,40.000000,2
5107,0,35.0,0,0,1,3,0,82.99,30.600000,2
5108,1,51.0,0,0,1,2,0,166.29,25.600000,1
5109,0,44.0,0,0,1,0,1,85.28,26.200000,0

In [90]:
y

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [121]:
## From StackOverFlow, have strings in df. Convert using LabelEncoder. e.g. Male=1, Female=0
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
for x in list:
    le.fit(initial_df[x])
    initial_df[x]=le.transform(initial_df[x])

In [120]:
list= initial_df.select_dtypes(include= ['object']).columns.tolist()

In [148]:
# Run this, then LE then list=
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y, random_state=1)

In [149]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report, accuracy_score
logmodel= LogisticRegression(solver='lbfgs', random_state=1)
logmodel.fit(x_train, y_train)
## Error ValueError: could not convert string to float: 'Female' (see above)

c:\Users\awsom\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [150]:
# Use test data for prediction
prediction=logmodel.predict(x_test)
print(len(prediction))

1278

In [151]:
log_score=balanced_accuracy_score(y_test, prediction)
print(log_score)

0.5120864505403159

In [152]:
log_matrix= confusion_matrix(y_test, prediction)
print(log_matrix)

[[1200    3]
 [  73    2]]

In [153]:
log_report= classification_report(y_test, prediction)
print(log_report)

              precision    recall  f1-score   support

           0       0.94      1.00      0.97      1203
           1       0.40      0.03      0.05        75

    accuracy                           0.94      1278
   macro avg       0.67      0.51      0.51      1278
weighted avg       0.91      0.94      0.92      1278

# How to interpret model? 
# 95% precision in no strokes. Need to retrain with balanced data??

In [127]:
from imblearn.over_sampling import RandomOverSampler

In [128]:
random_sample= RandomOverSampler(random_state=1)
x_res, y_res= random_sample.fit_resample(x_train, y_train)

In [129]:
y_res.value_counts()

0    3645
1    3645
Name: stroke, dtype: int64

In [130]:
over_logmodel= LogisticRegression(solver='lbfgs', random_state=1)
over_logmodel.fit(x_res, y_res)

c:\Users\awsom\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [131]:
prediction2=over_logmodel.predict(x_test)

In [132]:
over_log_accuracy= balanced_accuracy_score(y_test, prediction2)
print( over_log_accuracy)

0.7373328735144312

In [133]:
over_log_matrix = confusion_matrix(y_test, prediction2)
print(over_log_matrix)

[[891 325]
 [ 16  46]]

In [134]:
over_log_report = classification_report(y_test, prediction2)
print(over_log_report)

              precision    recall  f1-score   support

           0       0.98      0.73      0.84      1216
           1       0.12      0.74      0.21        62

    accuracy                           0.73      1278
   macro avg       0.55      0.74      0.53      1278
weighted avg       0.94      0.73      0.81      1278

# Higher balanced accuracy score. Precision poor for stroke cases. 
* Maybe try StandardScaling?

In [135]:
## Different ML Algorithms: DecisionTreeClassifier (KaggleUser: aniketadam's approach)
# Don't have to scale/normalize data for decision tree algorithms

In [136]:
from sklearn.tree import DecisionTreeClassifier

dec_tree_model= DecisionTreeClassifier()
dec_tree_model.fit(x_train, y_train)

print(dec_tree_model.score(x_test, y_test))

0.9092331768388107

In [137]:
dec_pred=dec_tree_model.predict(x_test)

In [138]:
print(balanced_accuracy_score(y_test, dec_pred))

0.5619827037351444

In [139]:
print(classification_report(y_test, dec_pred))

              precision    recall  f1-score   support

           0       0.96      0.95      0.95      1216
           1       0.14      0.18      0.16        62

    accuracy                           0.91      1278
   macro avg       0.55      0.56      0.56      1278
weighted avg       0.92      0.91      0.91      1278

In [140]:
# Attempt to fine-tune decision tree. Source: datagy.io
from sklearn.model_selection import GridSearchCV
params={
    'criterion':  ['gini', 'entropy'],
    'max_depth':  [None, 2, 4, 6, 8, 10],
    'max_features': [None, 'sqrt', 'log2', 0.2, 0.4, 0.6, 0.8],
    'splitter': ['best', 'random']
    }
clf = GridSearchCV(
    estimator=DecisionTreeClassifier(),
    param_grid=params,
    cv=5,
    n_jobs=5,
    verbose=1,
)

clf.fit(x_train, y_train)
print(clf.best_params_)
# Use resulting params for dec_model

Fitting 5 folds for each of 168 candidates, totalling 840 fits
{'criterion': 'gini', 'max_depth': 4, 'max_features': 'log2', 'splitter': 'random'}

In [141]:
dec_tree_modelopt= DecisionTreeClassifier(max_depth=4, criterion='gini', max_features='log2', splitter='random')
dec_tree_modelopt.fit(x_train, y_train)

print(dec_tree_modelopt.score(x_test, y_test))
dec_predopt=dec_tree_model.predict(x_test)

0.9514866979655712

In [142]:

print(balanced_accuracy_score(y_test, dec_predopt))
print(classification_report(y_test, dec_predopt))

0.5619827037351444
              precision    recall  f1-score   support

           0       0.96      0.95      0.95      1216
           1       0.14      0.18      0.16        62

    accuracy                           0.91      1278
   macro avg       0.55      0.56      0.56      1278
weighted avg       0.92      0.91      0.91      1278

In [143]:
## Different ML Algorithms: RandomForestClassifier (KaggleUser: aniketadam's approach)

In [144]:
from sklearn.ensemble import RandomForestClassifier

rng_forest_model= RandomForestClassifier()
rng_forest_model.fit(x_train, y_train)

RandomForestClassifier()

In [145]:
print(rng_forest_model.score(x_test, y_test))

0.9491392801251957

In [146]:
rng_pred=rng_forest_model.predict(x_test)

In [147]:
print(balanced_accuracy_score(y_test, rng_pred))
print(classification_report(y_test, rng_pred))

0.4987664473684211
              precision    recall  f1-score   support

           0       0.95      1.00      0.97      1216
           1       0.00      0.00      0.00        62

    accuracy                           0.95      1278
   macro avg       0.48      0.50      0.49      1278
weighted avg       0.91      0.95      0.93      1278